<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Home</title>
    <link rel = 'stylesheet' type = 'text/css' href = './public/main.css'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body class = 'home-page'>
<div class="home-header">
  <div class="header-content">
  <h1 id="main-title">Rumblr</h1>
  <a href="/users/new" class="btn btn-primary">Sign up</a> <% 3.times do %> &nbsp <% end %>
  <a href="/posts/new" class="btn btn-primary">Post</a>
  </div>
</div>
</body>
</html>